@model CMR.EmailModels.ReportEmail

Content-Type: text/html; charset=utf-8

<html>
<body>
<div>
    <p>
        Check full detail at <a href="@Model.CallbackUrl">here</a>
    </p>
</div>
</body>
</html>
