@model CMR.Models.Faculty

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="/Home/Index">Home</a></li>
    <li><a href="/Faculties/Index">Faculties</a></li>
    <li class="active">Details</li>
</ol>
<div class="panel panel-default">
    <div class="panel-heading">Details
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new {@class="pull-right"})
    
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>

    </div>
</div>
