@{
    ViewBag.Title = "Home Page";
}
@if (!User.Identity.IsAuthenticated)
{

            <div class="jumbotron">
                <h1>Our faculties</h1>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <h2>Faculties</h2>
                    <p>
                        Faculty of Architecture, Computing & Humanities. Home to a highly research-informed range of subjects of professional and academic interest.
                    </p>
                    <p><a class="btn btn-default" href="/Falculties">View &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Courses</h2>
                    <p>Courses range from taster sessions to full credit-bearing short courses and workshops.</p>
                    <p><a class="btn btn-default" href="/Courses">View &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Reports</h2>
                    <p>Course Monitoring Reports (CMR).</p>
                    <p><a class="btn btn-default" href="/Reports">View &raquo;</a></p>
                </div>
            </div>
}