body {
  padding-top: 50px;
  background: rgb(246, 246, 246);
}
.container .jumbotron{
    background-image: url(../images/stst-lib-03.jpg);
    min-height: 333px;
    border-radius:0px !important;
    padding: 0px;
    position: relative;
}
.jumbotron>h1{
    color: rgb(62, 62, 62);
    bottom: 0px;
    position: absolute;
    width: 700px;
    background-color: rgb(246, 246, 246);
    margin-bottom:0px;
    font-size: 2.75em;
    font-weight: bold;
    line-height: 80px;
}
.footer{
    padding-left: 60px;
    padding-right: 60px;
    background-color: #fff;
    display: none;
}
.footer h4{
    font-size: 16px;
    font-weight: bold;
    border-bottom: solid 1px #e3e3e3;
    padding-bottom: 9px;
}
.navbar {
  background-color: #fff;
}
.navbar-right{
    padding-right: 15px;
}
.nav-menu {
  position: fixed;
  height: calc(100% - 50px);
  width: 250px;
  -webkit-transition: width 200ms;
  transition: width 200ms;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.navbar-nav button{
    height: 50px;
    width: 50px;
    border: none;
    font-size: 20px;
}
.nav-menu::-webkit-scrollbar {
  display: none;
}
.container-right {
  height: 100%;
  width: calc(100% - 250px);
  padding-top: 15px;
  min-height: calc(100% - 50px);
  -webkit-transition: width 200ms;
  transition: width 200ms;
  padding-top: 45px;
  position: relative;
}
.list-group>.list-group-item, .nav-stacked > li > a {
  border-radius: 0px;
  border: none;
  border-bottom: solid 1px #eee;
}
.nav-stacked > li+li {
  margin: 0px;
}
.navbar-brand {
  min-width: 250px;
}
.navbar-brand img {
  margin-top: -13px;
  height: 40px;
  width: auto;
}
.navbar-brand span {
  padding-right: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
.navbar-form button, .navbar-form input,.navbar-form input:focus, .navbar-form button:hover,.navbar-form button:focus, .navbar-form button:active {
  border: none;
  background: none;
  box-shadow: none;
}
.navbar-form, .navbar-form input{
  padding-left: 0;
}
.navbar-form button{
  padding-left: 15px;
}
.navbar-form button{
  font-size: 17px;
  color: #aaa;
}

.hide-nav {
  width: 0px;
}
.show-full {
  width: 100%;
}
.profiles {
  padding: 10px 10px 10px 10px;
}
.profile-bar {
  padding-top: 10px;
  padding: 15px;
  text-transform: capitalize;
  border-bottom: solid 1px #eee;
}
.profile-title, .profile-role {
  padding-left: 5px;
}
.profile-role {
  padding-left: 5px;
  font-size: 12px;
  color: #bdbdbd;
}
.profile-title {
  font-weight: 600;
  padding-top: 10px;
  color: #212121;
  margin-bottom: 5px;
}
.profiles > img {
  height: 64px;
  width: 64px;
}
.title-menu {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  color: #bdbdbd;
  padding: 15px;
}
#btn-burger-navbar-left-xs {
  padding: 15px;
  position: absolute;
  left: 0px;
  font-size: 20px;
  line-height: 20px;
  color: black;

}

#btn-burger-navbar-left{
  background: none;
  border: none;
  float: right;
  right: 0px;
}
.btn-top-up{
    margin-top: -7px;
    margin-left: 4px;
}
#loginForm{
    width: 295px;
    padding: 45px;
    background-color: #fff;
    margin: auto;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#loginForm #RememberMe{
    margin-left: -15px;
}
label[for="RememberMe"]{
    padding-left: 0px;
}
#loginForm h3{
    text-align: center;
    text-transform: uppercase;
}
.btn-login{
    width: 100%;
}

@media (max-width: 768px) {
  .nav-menu {
    width: 0px;
    overflow-y: hidden;
  }
  .container-right {
    padding-top: 15px;
    width: 100%;
  }
  .show-nav {
    width: 250px;
  }
  .hide-full {
    width: calc(100% - 250px);
  }
  .navbar-brand {
    min-width: auto;
    text-align: center;
    margin: auto;
    position: relative;
    right: calc(-50% + 95px);
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar-brand span {
    font-size: 12px;
    min-width: auto;
  }
  .navbar-toggle {
    border: none;
    font-size: 20px;
    margin: 0px;
    padding: 15px;
    line-height: 20px;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fff;
  }
}



@media (min-width: 768px) and (max-width: 992px) {}
@media (min-width: 992px) and (max-width: 1200px) {}
@media (min-width: 1200px) {}

/*@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);*/

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal
}
#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu {
  width: 100%;
  /*font-family: Raleway, sans-serif;*/
  color: #ffffff;
}
#cssmenu ul ul {
  display: none;
}
#cssmenu ul>li>a>span {
  padding-right: 10px;
}
#cssmenu > ul > li> a.active {
  background-color: #eee;
  color: #000;
}
#cssmenu > ul > li.active > ul {
  display: block;
}
.align-right {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 16px 22px;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: rgb(97, 97, 97);
  /*background: #3ab4a6;*/
  background: #fff;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu > ul > li > a:hover {
  background-color: #eee;
  color: #000;
}
#cssmenu ul > li.has-sub > a:after {
  position: absolute;
  right: 25px;
  top: 16px;
  z-index: 5;
  display: block;
  font-family: 'FontAwesome';
  content: "\f105";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#cssmenu ul > li.has-sub.open > a:after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
#cssmenu ul ul li a {
  padding: 16px 22px;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #dddddd;
  color: #000;
  background: #49505a;
  background: #eee;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu ul ul ul li a {
  padding-left: 32px;
}
#cssmenu ul ul li a:hover {
  color: #ffffff;
  color: #000;
}
#cssmenu ul ul > li.has-sub > a:after {
  right: 25px;
  top: 16px;
  font-family: 'FontAwesome';
  content: "\f105";
}

.breadcrumb{
    position: absolute;
    top: 0px;
    background: 0px;
    padding-left: 0px;
    font-size: 12px;
}